* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', 'Calibri', sans-serif;
}

body {
	background: #eee;
}

.container {
	background: #fff;
	border-radius: 5px;
  min-width: 500px;
  max-width: 900px;
	height: 655px;
  margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.list-left {
	flex: 1;
}
.list-right {
	flex: 1;
}

.div-text {
	flex: 5;
	height: 100%;
	border: 1px dashed #000;
	border-radius: 5px;
}

.div-text > div {
	height: 100%;
	position: relative;
}

.list-left ul,
.list-right ul {
	padding: 0;
	margin: 0;
}

.list-left li,
.list-right li {
	list-style: none;
	margin: 5px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	height: 20px;
}

.list-left li {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding-left: 10px;
	text-align: left;
}
.list-right li {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	padding-right: 10px;
	text-align: right;
}

li:hover {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 0;
	font-style: italic;
}

li:hover,
button:hover {
	cursor: pointer;
}

.list-left button {
	display: block;
	width: 90%;
	margin: 5px auto;
	font-weight: bold;
	color: #fff;
	padding: 2px 10px;
	border: none;
	border-radius: 3px;
	background: #51adfd;
}

button {
	width: 100%;
}

textarea {
	border: none;
	outline: none;
	resize: none;
	padding: 10px 10px;
	line-height: 1.5;
	font-size: 15px;
	width: 100%;
	height: 100%;
}

.selected {
	background: #000;
	color: #fff;
}

.rename {
	background: #bababa;
	color: #000;
}

a {
	position: absolute;
	bottom: 0px;
	padding: 5px 15px;
	color: #ccc;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: #000;
	background: #ccc;
}

.a-copy {
	left: 15px;
}

.a-clear {
	right: 15px;
}
