* {
	box-sizing: border-box;
}

body {
  background: #000;
	color: #eee;
}

.container {
  min-width: 500px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px dashed #ccc;
	display: flex;
}

.list-left {
	flex: 1;
}

.div-text {
	flex: 3;
}

.list-left ul {
	padding: 0;
	margin: 0;
}

li:hover {
	cursor: pointer;
}

.list-left li {
	list-style: none;
	text-align: center;
}

textarea {
	border: 1px solid #ccc;
	resize: none;
	padding: 5px;
	line-height: 1.5;
	width: 100%;
}

.selected {
	border: 2px solid #fff;
}
